{% extends 'base.html' %}

{% block title %}About Us - My Website{% endblock %}

{% block content %}
    <header>
        <h1>About Us</h1>
    </header>
  
        <div class="best-price">
            <h2>Best Price</h2>
            <p>Determine the value of your e-waste items effortlessly using our "Best Price" feature. By inputting item details, such as make and condition, you'll receive an accurate estimate before recycling. We take pride in offering competitive rates, ensuring you get the highest return for your electronics.</p>
        </div>
        <div class="price-comparison">
            <h2>Price Comparison Tool</h2>
            <p>Make well-informed recycling decisions with our "Price Comparison Tool." Easily compare our competitive recycling rates with local competitors to ensure transparency and select the most financially advantageous recycling option.</p>
        </div>
        <div class="education">
            <h2>Education</h2>
            <p>Explore our extensive "Education" section to gain insights into responsible e-waste disposal. We provide comprehensive resources, including articles and guides, to help you understand the environmental impact of e-waste and the importance of recycling.</p>
        </div>
        <div class="rewards">
            <h2>Rewards</h2>
            <p>Participate in our "Rewards" program and earn points, bonuses, and rewards with every recycling effort. These rewards can be redeemed for valuable items, discounts, or gift cards, offering tangible benefits for your eco-friendly actions.</p>
        </div>
  
    <footer>
        <p>&copy; 2023 E-On Wheels. All rights reserved.</p>
    </footer>
{% endblock %}

